$shadow: rgba(170, 170, 170, 0.5);

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 800px;
  box-shadow: 10px 10px 10px $shadow, -5px -5px 5px $shadow;
  padding: 0 30px 30px;

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    position: sticky;
    top: 0;
    background-color: burlywood;
    padding: 1rem;
  }
}

.jobs {
  >* {
    margin-bottom: 20px;
  }
}