.job {
  display: flex;
  flex-direction: column;

  >header {
    display: flex;
    gap: 2em;

    img {
      align-self: center;
    }
  }

  >article {
    display: flex;
    flex-direction: row;
    gap: 2em;

    >section:first-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 3em;

      >span {
        transform: rotate(-15deg);
        font-style: italic;
      }
    }
  }
}

.project {
  >section:first-of-type {
    margin-bottom: 1em;
  }

  section {
    span {
      display: flex;
      font-size: .9em;
      font-style: italic;
      gap: .5em;
    }
  }
}